flows.json
[{"id":"1231dbc1094dd99e","type":"tab","label":" Create a REST API in Node-RED","disabled":false,"info":""},{"id":"d8492a5681891bd7","type":"tab","label":"Chuck Norris","disabled":false,"info":""},{"id":"bdff79e0.dfbcd8","type":"tab","label":"watson","disabled":false,"info":""},{"id":"1e9f0641.e2c47a","type":"tab","label":"Custom Website","disabled":false,"info":""},{"id":"daad43b27db0d3c8","type":"tab","label":"Front-end Website with Node-RED","disabled":false,"info":""},{"id":"8f9bd20c59480f87","type":"tab","label":"Weather API","disabled":false,"info":""},{"id":"f0c55fd7513e2f0f","type":"tab","label":"Node-RED with IBM Watson AI Services","disabled":false,"info":""},{"id":"0c7da1a8927e4ecc","type":"tab","label":"Day-2","disabled":false,"info":""},{"id":"387c59a15a83aeab","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1d5ee08d6a2c1554","type":"ui_group","name":"Chuck Norris","tab":"362c91eaa436a196","order":1,"disp":true,"width":"6","collapse":false},{"id":"3077c7fd0263f589","type":"ui_group","name":"Language ","tab":"362c91eaa436a196","order":2,"disp":true,"width":"6","collapse":false},{"id":"51666ed6820e62b4","type":"ui_group","name":"Weather","tab":"362c91eaa436a196","order":3,"disp":true,"width":"6","collapse":false},{"id":"362c91eaa436a196","type":"ui_tab","name":"NODE-RED","icon":"dashboard","disabled":false,"hidden":false},{"id":"c0276740621bdda0","type":"ui_group","name":"Iot","tab":"362c91eaa436a196","order":4,"disp":true,"width":"6","collapse":false},{"id":"bd507ef68d32b2cc","type":"http request","z":"d8492a5681891bd7","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.chucknorris.io/jokes/random","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":260,"wires":[["8099761edaf24635"]]},{"id":"1c9e3d842570df7f","type":"http request","z":"d8492a5681891bd7","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.chucknorris.io/jokes/random","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":180,"wires":[["d6cd68dffc1df140"]]},{"id":"717ff005dd8eb5d6","type":"inject","z":"d8492a5681891bd7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":280,"y":180,"wires":[["1c9e3d842570df7f"]]},{"id":"d6cd68dffc1df140","type":"debug","z":"d8492a5681891bd7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.value","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":180,"wires":[]},{"id":"b1b11140.4e4ef","type":"inject","z":"bdff79e0.dfbcd8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"How are you","payloadType":"str","x":170,"y":120,"wires":[["ff659894.8f7598"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"bdff79e0.dfbcd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"translation[0].translation","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":120,"wires":[]},{"id":"ff659894.8f7598","type":"watson-translator","z":"bdff79e0.dfbcd8","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"tr","password":"Sakmak4326","apikey":"32ukJeMXQxjvwxv5HeQ-WUVzWI1YqCQaFGfqx6VnE6yl","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"tr","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-de.language-translator.watson.cloud.ibm.com/instances/e9d76f67-13c1-48ca-9016-47daa40644df","x":430,"y":120,"wires":[["f2f2649a.0d0d98"]]},{"id":"e9fb84b0.4ef758","type":"comment","z":"bdff79e0.dfbcd8","name":"Translator","info":"","x":140,"y":60,"wires":[]},{"id":"2f8c7584.83ad2a","type":"comment","z":"bdff79e0.dfbcd8","name":"Speech to Text","info":"","x":160,"y":180,"wires":[]},{"id":"b7272e30.c047e","type":"inject","z":"bdff79e0.dfbcd8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"http://sd-2.archive-host.com/membres/up/102033098234604628/SpaceShuttle.wav","payloadType":"str","x":150,"y":240,"wires":[["5974afd4.b1b02"]]},{"id":"5974afd4.b1b02","type":"watson-speech-to-text","z":"bdff79e0.dfbcd8","name":"speech to text","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"","langcustom":"NoCustomisationSetting","langcustomhidden":"NoCustomisationSetting","custom-weight":"0.5","band":"NarrowbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"Sakmak4326","apikey":"HY6RjPRiaNpbGXHVvsMnGlolTMi-z67t5B4t-ujLi70S","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.eu-de.speech-to-text.watson.cloud.ibm.com/instances/cb212251-b0b6-48c9-a0d6-4071a50c1576","x":410,"y":240,"wires":[["1c23b966.7e3fd7"]]},{"id":"1c23b966.7e3fd7","type":"debug","z":"bdff79e0.dfbcd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"transcription","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":240,"wires":[]},{"id":"5a6d7972.90fa98","type":"comment","z":"bdff79e0.dfbcd8","name":"Text to Speech","info":"","x":160,"y":300,"wires":[]},{"id":"55aab785.9f2b48","type":"inject","z":"bdff79e0.dfbcd8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"How are you? I am husniye","payloadType":"str","x":150,"y":360,"wires":[["71cc25ab.523bdc"]]},{"id":"71cc25ab.523bdc","type":"watson-text-to-speech","z":"bdff79e0.dfbcd8","name":"text to speech","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_KevinV3Voice","voicehidden":"","format":"audio/wav","password":"Sakmak4326","apikey":"qYJfFJuM48L7IO1C9n_yTb2zg_wRDyAtmfFrSSNeYst6","payload-response":false,"service-endpoint":"https://api.eu-de.text-to-speech.watson.cloud.ibm.com/instances/1a128329-f65e-4aa6-b93f-f8304235572c","x":400,"y":360,"wires":[["748299b1.1680d8","9b12fb25.b09b28"]]},{"id":"748299b1.1680d8","type":"debug","z":"bdff79e0.dfbcd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":400,"wires":[]},{"id":"1a8f2a34.f08e16","type":"comment","z":"bdff79e0.dfbcd8","name":"Natural Languange Understanding","info":"","x":200,"y":420,"wires":[]},{"id":"905d7a03.2e8ce8","type":"natural-language-understanding","z":"bdff79e0.dfbcd8","name":"NLU","categories":true,"limitcategories":"5","concepts":true,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":false,"doc-sentiment-target":"","entity":true,"entity-emotion":true,"entity-sentiment":true,"maxentities":"50","keyword":true,"keyword-emotion":true,"keyword-sentiment":true,"maxkeywords":"50","metadata":false,"relation":false,"semantic":true,"semantic-entities":true,"semantic-keywords":false,"maxsemantics":"50","limittextcharacters":"0","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"service-endpoint":"https://api.eu-de.natural-language-understanding.watson.cloud.ibm.com/instances/6c0e1c3b-dae3-41ef-a3fa-4c89a4b0fa32","x":390,"y":500,"wires":[["800f9e7c.46b51"]]},{"id":"c8f911ef.4e52b","type":"inject","z":"bdff79e0.dfbcd8","name":"TEXT","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"This is a sample text on which i want some understanding","payloadType":"str","x":130,"y":480,"wires":[["905d7a03.2e8ce8"]]},{"id":"69de340e.da574c","type":"inject","z":"bdff79e0.dfbcd8","name":"URL","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"https://www.ibm.com/weather","payloadType":"str","x":130,"y":540,"wires":[["905d7a03.2e8ce8"]]},{"id":"800f9e7c.46b51","type":"debug","z":"bdff79e0.dfbcd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":500,"wires":[]},{"id":"ccbc46e8.77c4d8","type":"comment","z":"bdff79e0.dfbcd8","name":"Language Processing and UI Dashboard","info":"","x":220,"y":620,"wires":[]},{"id":"7307c450.b7d17c","type":"comment","z":"1e9f0641.e2c47a","name":"Custom Website and Visual Recognize","info":"","x":210,"y":60,"wires":[]},{"id":"125c599c.a1bb86","type":"http in","z":"1e9f0641.e2c47a","name":"[GET] recognize","url":"/reco","method":"get","upload":false,"swaggerDoc":"","x":100,"y":200,"wires":[["cf4e6ced.0f094"]]},{"id":"cf4e6ced.0f094","type":"switch","z":"1e9f0641.e2c47a","name":"Check Image Param","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":200,"wires":[["d53b0140.d1ee7"],["fe223fea.14446"]]},{"id":"d53b0140.d1ee7","type":"template","z":"1e9f0641.e2c47a","name":"Get Image URL","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Watson Visual Recognition on Node-RED</title>\n    </head>\n    <body>\n    <h1>Welcome to the Watson Visual Recognition Demo on Node-RED</h1>\n        <h2>Select an image URL</h2>\n        <form  action=\"{{req._parsedUrl.pathname}}\">\n            <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/2.jpg\" height='100'/>\n            <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/3.jpg\" height='100'/>\n            <img src=\"https://raw.githubusercontent.com/watson-developer-cloud/visual-recognition-nodejs/master/public/images/samples/4.jpg\" height='100'/>\n            <br/>Copy above image location URL or enter any image URL:<br/>\n            <input type=\"text\" name=\"imageurl\"/>\n            <input type=\"submit\" value=\"Analyze\"/>\n        </form>\n    </body>\n</html>","output":"str","x":540,"y":120,"wires":[["686b1583.f0403c"]]},{"id":"686b1583.f0403c","type":"http response","z":"1e9f0641.e2c47a","name":"HTTP Response","statusCode":"","headers":{},"x":960,"y":120,"wires":[]},{"id":"592659f.01eb6a8","type":"visual-recognition-v3","z":"1e9f0641.e2c47a","name":"visual recognize","vr-service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/b780ffe7-afb5-493e-ad12-0f2c11e45e9b","image-feature":"classifyImage","lang":"en","x":740,"y":300,"wires":[["455c93f4.95229c"]]},{"id":"455c93f4.95229c","type":"template","z":"1e9f0641.e2c47a","name":"report","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head><title>Watson Visual Recognition on Node-RED</title></head>\n    <body>\n        <h1>Node-RED Watson Visual Recognition output</h1>\n        <p>Analyzed image: {{payload}}<br/><img src=\"{{payload}}\" height='100'/></p>\n        <table border='1'>\n            <thead><tr><th>Name</th><th>Score</th></tr></thead>\n        {{#result.images.0.classifiers.0.classes}}\n        <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n        {{/result.images.0.classifiers.0.classes}}\n        </table>\n        <form  action=\"{{req._parsedUrl.pathname}}\">\n            <input type=\"submit\" value=\"Try again\"/>\n        </form>\n    </body>\n</html>","output":"str","x":930,"y":300,"wires":[["686b1583.f0403c"]]},{"id":"fe223fea.14446","type":"change","z":"1e9f0641.e2c47a","name":"Extract Image Url","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":300,"wires":[["592659f.01eb6a8"]]},{"id":"862df1580b136ef3","type":"comment","z":"d8492a5681891bd7","name":"API","info":"","x":250,"y":120,"wires":[]},{"id":"c46e24914a876322","type":"http request","z":"8f9bd20c59480f87","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.weatherbit.io/v2.0/current?&city=${{city}}&key=5fec1a9312514f5ab84aab4ed30a0beb&include=minutely","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":160,"wires":[["62466c7831dbde72"]]},{"id":"7d45d0b77c2dcd8b","type":"inject","z":"8f9bd20c59480f87","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"london","payloadType":"str","x":170,"y":160,"wires":[["7a10c9a302136d43"]]},{"id":"62466c7831dbde72","type":"debug","z":"8f9bd20c59480f87","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":160,"wires":[]},{"id":"ad83eceb52375b34","type":"http request","z":"8f9bd20c59480f87","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.weatherbit.io/v2.0/current?&city=${flow.city}&key=5fec1a9312514f5ab84aab4ed30a0beb&include=minutely","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":380,"wires":[["924be6ce2bfd13b0","c65d2055bcea3420"]]},{"id":"3708b9ae3b119e73","type":"change","z":"8f9bd20c59480f87","name":"Set msg.city","rules":[{"t":"set","p":"city","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":300,"wires":[[]]},{"id":"41747a17.54ffd4","type":"http request","z":"8f9bd20c59480f87","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://jsonplaceholder.typicode.com/posts/{{post}}","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":80,"wires":[["d682318c.36823"]]},{"id":"d682318c.36823","type":"debug","z":"8f9bd20c59480f87","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":80,"wires":[]},{"id":"90bfea22.dd2b98","type":"inject","z":"8f9bd20c59480f87","name":"post id","repeat":"","crontab":"","once":false,"topic":"","payload":"2","payloadType":"str","x":170,"y":80,"wires":[["e67a0cc.596d4f"]]},{"id":"e67a0cc.596d4f","type":"change","z":"8f9bd20c59480f87","name":"","rules":[{"t":"set","p":"post","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":80,"wires":[["41747a17.54ffd4"]]},{"id":"7a10c9a302136d43","type":"change","z":"8f9bd20c59480f87","name":"","rules":[{"t":"set","p":"city","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":160,"wires":[["c46e24914a876322"]]},{"id":"924be6ce2bfd13b0","type":"debug","z":"8f9bd20c59480f87","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.data[0]","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":380,"wires":[]},{"id":"0a14411fa81114c0","type":"ui_button","z":"d8492a5681891bd7","name":"","group":"1d5ee08d6a2c1554","order":1,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"hello","payloadType":"str","topic":"topic","topicType":"msg","x":250,"y":260,"wires":[["bd507ef68d32b2cc"]]},{"id":"8099761edaf24635","type":"ui_text","z":"d8492a5681891bd7","group":"1d5ee08d6a2c1554","order":2,"width":"6","height":"4","name":"","label":"","format":"{{msg.payload.value}}","layout":"row-center","x":710,"y":260,"wires":[]},{"id":"6ffeb08cd2c6fca2","type":"ui_text","z":"d8492a5681891bd7","group":"3077c7fd0263f589","order":3,"width":0,"height":0,"name":"Language","label":"","format":"{{msg.translation[0].translation}}","layout":"row-spread","x":680,"y":920,"wires":[]},{"id":"9b12fb25.b09b28","type":"play audio","z":"bdff79e0.dfbcd8","name":"audio","voice":"","x":730,"y":340,"wires":[]},{"id":"f59cc64d1de553be","type":"ui_text_input","z":"8f9bd20c59480f87","name":"","label":"","tooltip":"","group":"51666ed6820e62b4","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":200,"y":300,"wires":[["3708b9ae3b119e73"]]},{"id":"03d65b94d0b238bf","type":"ui_button","z":"8f9bd20c59480f87","name":"","group":"51666ed6820e62b4","order":2,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"city","payloadType":"flow","topic":"topic","topicType":"msg","x":190,"y":380,"wires":[["ad83eceb52375b34"]]},{"id":"1e0841f1.ac68fe","type":"http in","z":"daad43b27db0d3c8","name":"","url":"/mysite","method":"get","swaggerDoc":"","x":190,"y":260,"wires":[["4c783328.03dc2c"]]},{"id":"5de0bbd4.6c8574","type":"http in","z":"daad43b27db0d3c8","name":"","url":"/mysitepost","method":"post","swaggerDoc":"","x":210,"y":460,"wires":[["80321000.f2dc5","75913f37.78e6e"]]},{"id":"4c783328.03dc2c","type":"function","z":"daad43b27db0d3c8","name":"msg.url = \"mysitepost\";","func":"msg.url = \"mysitepost\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":260,"wires":[["b2f5bdf9.e09f1"]]},{"id":"80321000.f2dc5","type":"debug","z":"daad43b27db0d3c8","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":460,"wires":[]},{"id":"8de9647.b8a9a98","type":"http response","z":"daad43b27db0d3c8","name":"","statusCode":"","headers":{},"x":870,"y":420,"wires":[]},{"id":"b2972258.ecf54","type":"template","z":"daad43b27db0d3c8","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}","x":590,"y":360,"wires":[["f3b55ea2.f4d51"]]},{"id":"b2f5bdf9.e09f1","type":"template","z":"daad43b27db0d3c8","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});","x":430,"y":360,"wires":[["b2972258.ecf54"]]},{"id":"d2c0bc2a.05a02","type":"http response","z":"daad43b27db0d3c8","name":"","statusCode":"","headers":{},"x":870,"y":360,"wires":[]},{"id":"f3b55ea2.f4d51","type":"template","z":"daad43b27db0d3c8","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>My Site</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n    <h2>Using CSS to style an HTML form with AJAX POST and Node-RED</h2>\n    <h4><a href=\"http://www.internetoflego.com\">Internet of LEGO</a></h4>\n\n<div>\n  <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n    <label for=\"fname\">First Name</label>\n    <input type=\"text\" id=\"fname\" name=\"firstname\">\n\n    <label for=\"lname\">Last Name</label>\n    <input type=\"text\" id=\"lname\" name=\"lastname\">\n\n    <label for=\"country\">Country</label>\n    <select id=\"country\" name=\"country\">\n      <option value=\"uk\">United Kingdom</option>\n      <option value=\"canada\">Canada</option>\n      <option value=\"usa\">USA</option>\n      <option value=\"CH\">Switzerland</option>\n    </select>\n  \n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n<div>\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":730,"y":360,"wires":[["d2c0bc2a.05a02"]]},{"id":"ad88b28c.bc842","type":"function","z":"daad43b27db0d3c8","name":"return msg.payload to client","func":"msg.payload = 'The following data was submitted and available in the msg.payload: '+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":420,"wires":[["8de9647.b8a9a98"]]},{"id":"75913f37.78e6e","type":"json","z":"daad43b27db0d3c8","name":"","property":"payload","action":"","pretty":false,"x":410,"y":420,"wires":[["ad88b28c.bc842"]]},{"id":"86c08a83.385758","type":"comment","z":"daad43b27db0d3c8","name":"Website","info":"","x":170,"y":180,"wires":[]},{"id":"3c029955.901626","type":"comment","z":"daad43b27db0d3c8","name":"Node-RED Public Site - README","info":"This Flow demonstrates how to create\na simple frontend webpage with Node-RED.\n\nThe public facing page consists of the \nclient side JavaScript, CSS and HTML. \n\nThe important technique is how the mustache \ntemplates are used. Each template will set the\n\"property\" relative to the content. \n\nThe CSS node sets the \"msg.payload.style\" property.\nThe JavaScript node sets the \"msg.payload.script\" property.\nThe HTML node then includes these properties \n<script>{{{payload.script}}}</script>\n<style>{{{payload.style}}}</style>\n\n\nThis example was created by http://www.InternetofLEGO.com\n\n","x":500,"y":80,"wires":[]},{"id":"7e5ecba4496ebedd","type":"microphone","z":"f0c55fd7513e2f0f","name":"","x":180,"y":100,"wires":[["35e0a6046224f8df"]]},{"id":"35e0a6046224f8df","type":"watson-speech-to-text","z":"f0c55fd7513e2f0f","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"Sakmak4326","apikey":"HY6RjPRiaNpbGXHVvsMnGlolTMi-z67t5B4t-ujLi70S","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.eu-de.speech-to-text.watson.cloud.ibm.com/instances/cb212251-b0b6-48c9-a0d6-4071a50c1576","x":430,"y":100,"wires":[["d9c045c0ca8e923c"]]},{"id":"425f7bf1ca510ddd","type":"watson-text-to-speech","z":"f0c55fd7513e2f0f","name":"","lang":"it-IT","langhidden":"it-IT","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"it-IT_FrancescaV2Voice","voicehidden":"","format":"audio/wav","password":"Sakmak4326","apikey":"qYJfFJuM48L7IO1C9n_yTb2zg_wRDyAtmfFrSSNeYst6","payload-response":false,"service-endpoint":"https://api.eu-de.text-to-speech.watson.cloud.ibm.com/instances/1a128329-f65e-4aa6-b93f-f8304235572c","x":380,"y":200,"wires":[["cb3d08002f456e1d"]]},{"id":"d9c045c0ca8e923c","type":"change","z":"f0c55fd7513e2f0f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":100,"wires":[["7344b34cf1654242"]]},{"id":"cb3d08002f456e1d","type":"change","z":"f0c55fd7513e2f0f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"speech","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":200,"wires":[["78203194a3f00490"]]},{"id":"7344b34cf1654242","type":"watson-translator","z":"f0c55fd7513e2f0f","name":"","action":"translate","basemodel":"","domain":"news","srclang":"en","destlang":"fr","password":"Sakmak4326","apikey":"32ukJeMXQxjvwxv5HeQ-WUVzWI1YqCQaFGfqx6VnE6yl","custom":"","domainhidden":"","srclanghidden":"","destlanghidden":"","basemodelhidden":"","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-de.language-translator.watson.cloud.ibm.com/instances/e9d76f67-13c1-48ca-9016-47daa40644df","x":880,"y":100,"wires":[["425f7bf1ca510ddd"]]},{"id":"78203194a3f00490","type":"play audio","z":"f0c55fd7513e2f0f","name":"","voice":"","x":860,"y":200,"wires":[]},{"id":"62e863d40a86a957","type":"http in","z":"8f9bd20c59480f87","name":"","url":"/home","method":"get","upload":false,"swaggerDoc":"","x":190,"y":540,"wires":[["286a0e79bea52ddd"]]},{"id":"286a0e79bea52ddd","type":"function","z":"8f9bd20c59480f87","name":"msg.url ","func":"msg.urlSearch = \"search\";\nmsg.urlMap=\"map\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":540,"wires":[["90ac71ef64fa3515"]]},{"id":"8a54a7e57812b5b9","type":"template","z":"8f9bd20c59480f87","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"body {\n  margin: 0;\n  font-family: Arial, Helvetica, sans-serif;\n}\n\n.topnav {\n  overflow: hidden;\n  background-color: #333;\n}\n\n.topnav a {\n  float: left;\n  display: block;\n  color: #f2f2f2;\n  text-align: center;\n  padding: 14px 16px;\n  text-decoration: none;\n  font-size: 17px;\n}\nh1{\nborder:1px solid white;\ntext-align:center;\npadding:2rem;\nmargin:3rem 5rem;\nbackground-color:white;\nz-index:0;\n}\n\n.topnav a:hover {\n  background-color: #ddd;\n  color: black;\n}\n\n.topnav a.active {\n  background-color: #0483aa;\n  color: white;\n}\n\n.topnav .icon {\n  display: none;\n}\n\n@media screen and (max-width: 600px) {\n  .topnav a:not(:first-child) {display: none;}\n  .topnav a.icon {\n    float: right;\n    display: block;\n  }\n}\n\n@media screen and (max-width: 600px) {\n  .topnav.responsive {position: relative;}\n  .topnav.responsive .icon {\n    position: absolute;\n    right: 0;\n    top: 0;\n  }\n  .topnav.responsive a {\n    float: none;\n    display: block;\n    text-align: left;\n  }\n}\nhtml,\nbody {\n  background: #1e5799;\n  /* Old browsers */\n  background: -moz-linear-gradient(top, #1e5799 0%, #7db9e8 100%);\n  /* FF3.6+ */\n  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(100%, #7db9e8));\n  /* Chrome,Safari4+ */\n  background: -webkit-linear-gradient(top, #1e5799 0%, #7db9e8 100%);\n  /* Chrome10+,Safari5.1+ */\n  background: -o-linear-gradient(top, #1e5799 0%, #7db9e8 100%);\n  /* Opera 11.10+ */\n  background: -ms-linear-gradient(top, #1e5799 0%, #7db9e8 100%);\n  /* IE10+ */\n  background: linear-gradient(to bottom, #1e5799 0%, #7db9e8 100%);\n  /* W3C */\n  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=0);\n  /* IE6-9 */\n  min-height: 100%;\n}\n.snowflakes {\n  width: 100%;\n  height: 1200px;\n  position: relative;\n  top: -100px;\n  left: 0;\n}\n\n.snowflakes i,\n.snowflakes i:after,\n.snowflakes i:before {\n  background: white;\n}\n.snowflakes i {\n  display: inline-block;\n  -webkit-animation: snowflakes 3s linear 2s 20;\n  -moz-animation: snowflakes 3s linear 2s 20;\n  position: relative;\n}\n.snowflakes i:after,\n.snowflakes i:before {\n  height: 100%;\n  width: 100%;\n  content: \".\";\n  position: absolute;\n  top: 0px;\n  left: 0px;\n  -webkit-transform: rotate(120deg);\n}\n.snowflakes i:before {\n  -webkit-transform: rotate(240deg);\n}\n@-webkit-keyframes snowflakes {\n  0% {\n    -webkit-transform: translate3d(0, 0, 0) rotate(0deg) scale(0.6);\n  }\n  100% {\n    -webkit-transform: translate3d(15px, 1200px, 0px) rotate(360deg) scale(0.6);\n  }\n}\n.snowflakes i:nth-child(3n) {\n  width: 16px;\n  height: 4px;\n  -webkit-animation-duration: 3s;\n  -webkit-animation-iteration-count: 30;\n  -webkit-transform-origin: right -45px;\n}\n.snowflakes i:nth-child(3n+1) {\n  width: 24px;\n  height: 6px;\n  -webkit-animation-duration: 4s;\n  -webkit-animation-iteration-count: 45;\n  -webkit-transform-origin: right -30px;\n}\n.snowflakes i:nth-child(3n+2) {\n  width: 32px;\n  height: 8px;\n  -webkit-animation-duration: 5s;\n  -webkit-animation-iteration-count: 60;\n  -webkit-transform-origin: right -15px;\n}\n/* different delays so they don't all start at the same time */\n.snowflakes i:nth-child(7n) {\n  opacity: 0.3;\n  -webkit-animation-delay: 0s;\n  -webkit-animation-timing-function: ease-in;\n}\n.snowflakes i:nth-child(7n+1) {\n  opacity: 0.4;\n  -webkit-animation-delay: 1s;\n  -webkit-animation-timing-function: ease-out;\n}\n.snowflakes i:nth-child(7n+2) {\n  opacity: 0.5;\n  -webkit-animation-delay: 1.3s;\n  -webkit-animation-timing-function: linear;\n}\n.snowflakes i:nth-child(7n+3) {\n  opacity: 0.6;\n  -webkit-animation-delay: 1.2s;\n  -webkit-animation-timing-function: ease-in;\n}\n.snowflakes i:nth-child(7n+4) {\n  opacity: 0.7;\n  -webkit-animation-delay: 1.5s;\n  -webkit-animation-timing-function: linear;\n}\n.snowflakes i:nth-child(7n+5) {\n  opacity: 0.8;\n  -webkit-animation-delay: 2s;\n  -webkit-animation-timing-function: ease-out;\n}\n.snowflakes i:nth-child(7n+6) {\n  opacity: 0.9;\n  -webkit-animation-delay: 2.5s;\n  -webkit-animation-timing-function: ease-in;\n}","x":750,"y":540,"wires":[["54ea59a7dd189a96"]]},{"id":"90ac71ef64fa3515","type":"template","z":"8f9bd20c59480f87","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"function myFunction() {\n  var x = document.getElementById(\"myTopnav\");\n  if (x.className === \"topnav\") {\n    x.className += \" responsive\";\n  } else {\n    x.className = \"topnav\";\n  }\n}","x":570,"y":540,"wires":[["8a54a7e57812b5b9"]]},{"id":"8131790111ec6a2e","type":"http response","z":"8f9bd20c59480f87","name":"","statusCode":"","headers":{},"x":1110,"y":540,"wires":[]},{"id":"54ea59a7dd189a96","type":"template","z":"8f9bd20c59480f87","name":"HTML Home","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>My Site</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    <style>{{{payload.style}}}</style>\n  </head>\n  <body>\n    <div class=\"topnav\" id=\"myTopnav\">\n      <a href=\"#\" class=\"active\">Home</a>\n      <a href=\"/{{urlSearch}}\">Search</a>\n      <a href=\"/{{urlMap}}\">Map</a>\n      <a href=\"javascript:void(0);\" class=\"icon\" onclick=\"myFunction()\">\n        <i class=\"fa fa-bars\"></i></a>\n    </div>\n    <header class=\"ScriptHeader\">\n    <div class=\"rt-container\">\n    \t<div class=\"col-rt-12\">\n        \t<div class=\"rt-heading\">\n        \t    <h1>Weather Forecast</h1>\n            </div>\n        </div>\n    </div>\n    </header>\n    <section>\n        <div class=\"rt-container\">\n            <div class=\"col-rt-12\">\n                <div class=\"Scriptcontent\">\n                    <div class=\"snowflakes\"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>\n                    </div>\n                </div>\n\t        </div>\n        </div>\n    </section>\n    <script>{{{payload.script}}}</script>\n  </body>\n\n</html>\n","x":930,"y":540,"wires":[["8131790111ec6a2e"]]},{"id":"67812876b4c04d6e","type":"template","z":"8f9bd20c59480f87","name":"HTML Search","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>My Site</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    <style>{{{payload.style}}}</style>\n  </head>\n  <body>\n    <div class=\"topnav\" id=\"myTopnav\">\n      <a href=\"{{urlHome}}\">Home</a>\n      <a href=\"#\" class=\"active\">Search</a>\n      <a href=\"/{{urlMap}}\">Map</a>\n      <a href=\"javascript:void(0);\" class=\"icon\" onclick=\"myFunction()\">\n        <i class=\"fa fa-bars\"></i></a>\n</div>\n<section class=\"main-section\">\n    <form class=\"form-container\"> \n    <label for=\"gsearch\">Search City:</label>\n    <input type=\"search\" id=\"gsearch\" name=\"gsearch\">\n    <input type=\"submit\">\n  </form>\n  <section id=\"forecast-section\"></section>\n</section>\n\n</html>\n<script>{{{payload.script}}}</script>","x":940,"y":600,"wires":[["04f3e3850a52bfc6"]]},{"id":"04f3e3850a52bfc6","type":"http response","z":"8f9bd20c59480f87","name":"","statusCode":"","headers":{},"x":1110,"y":600,"wires":[]},{"id":"17906d8bcd9974d6","type":"http in","z":"8f9bd20c59480f87","name":"","url":"/search","method":"get","upload":false,"swaggerDoc":"","x":190,"y":600,"wires":[["7242e866f55b92dc"]]},{"id":"7242e866f55b92dc","type":"function","z":"8f9bd20c59480f87","name":"msg.url ","func":"msg.urlHome = \"home\";\nmsg.urlMap=\"map\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":600,"wires":[["e10dca734f57dceb"]]},{"id":"e10dca734f57dceb","type":"template","z":"8f9bd20c59480f87","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"function myFunction() {\n  var x = document.getElementById(\"myTopnav\");\n  if (x.className === \"topnav\") {\n    x.className += \" responsive\";\n  } else {\n    x.className = \"topnav\";\n  }\n}\nconst TAG_FORM = document.querySelector('.form-container');\nconst CITY_INPUT = document.querySelector('#gsearch');\nconst FORECAST_CONTAINER=document.querySelector('#forecast-section')\nconst API_KEY = \"0d456f92a8fc4fb2856f92a8fcbfb203\";\nlet cityName;\nlet address;\n\nTAG_FORM.addEventListener(\"submit\", (event) => {\n  event.preventDefault();\n  cityName = CITY_INPUT.value;\n  convertNametoGeoCode(cityName);\n});\n\nconst convertNametoGeoCode = (pCityName) => {\n  const locType = 'city';\n  let url_head = 'https://api.weather.com/v3/location/search?query=';\n  let location = pCityName.replace(\" \", \"%20\");\n  let url_tail = `&locationType=${locType}&language=en-US&format=json&apiKey=${API_KEY}`;\n  let apiUrl = url_head + location + url_tail;\n  fetch(apiUrl)\n    .then((res) => res.json())\n    .then((data) => {\n      callForeacastApi(data.location);\n    });\n};\n\nconst callForeacastApi = (pData) => {\n  let pLat = pData.latitude[0];\n  let pLng = pData.longitude[0];\n  //address=pData.location.address[0]\n  const API_URL = `https://api.weather.com/v3/wx/observations/current?geocode=${pLat},${pLng}&format=json&units=e&language=en-US&apiKey=${API_KEY}`;\n  fetch(API_URL)\n    .then((res) => res.json())\n    .then((data) => {\n      displayForecast(data);\n    });\n};\n\nconst displayForecast = (pData) => { \n    let cityTemperature=pData.temperature;\n    let cloudCeiling=pData.cloudCeiling;\n    let pressureMeanSeaLevel=pData.pressureMeanSeaLevel;\n    FORECAST_CONTAINER.innerHTML=`<ul>\n    <li> City: ${cityName}</li>\n    <li> Temperature: ${cityTemperature} F</li>\n    <li> Cloud Ceiling: ${cloudCeiling}</li>\n    <li> Pressure Mean SeaLevel: ${pressureMeanSeaLevel}</li>\n    </ul>`\n    \n};\n\n","x":570,"y":600,"wires":[["149277af0f89540b"]]},{"id":"149277af0f89540b","type":"template","z":"8f9bd20c59480f87","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"body {\n  margin: 0;\n  font-family: Arial, Helvetica, sans-serif;\n}\n\n.topnav {\n  overflow: hidden;\n  background-color: #333;\n}\n\n.topnav a {\n  float: left;\n  display: block;\n  color: #f2f2f2;\n  text-align: center;\n  padding: 14px 16px;\n  text-decoration: none;\n  font-size: 17px;\n}\n\n.topnav a:hover {\n  background-color: #ddd;\n  color: black;\n}\n\n.topnav a.active {\n  background-color: #0483aa;\n  color: white;\n}\n\n.topnav .icon {\n  display: none;\n}\n\n@media screen and (max-width: 600px) {\n  .topnav a:not(:first-child) {display: none;}\n  .topnav a.icon {\n    float: right;\n    display: block;\n  }\n}\n\n@media screen and (max-width: 600px) {\n  .topnav.responsive {position: relative;}\n  .topnav.responsive .icon {\n    position: absolute;\n    right: 0;\n    top: 0;\n  }\n  .topnav.responsive a {\n    float: none;\n    display: block;\n    text-align: left;\n  }\n}\nhtml {\n  padding: 0;\n  margin: 0;\n  background-color: #436994;\n}\n.main-section {\n  padding: 0;\n  margin: 0;\n  height: 100vh;\n  display: flex;\n  flex-direction: column;\n  align-items: center;\n  justify-content: center;\n}\n\nform {\n  color: azure;\n  font-size: 1.5rem;\n}\n\ninput {\n  font-size: 1rem;\n  color: #436994;\n}\n\nul {\n  padding:0.8rem;\n  width: 24rem;\n  list-style: none;\n  color: azure;\n  font-size: 1.5rem;\n  border: 1px solid azure;\n  display: flex;\n  flex-direction: column;\n  justify-content: center;\n  align-items: center; \n}\n","x":750,"y":600,"wires":[["67812876b4c04d6e"]]},{"id":"cd06b7aaa3adee45","type":"template","z":"8f9bd20c59480f87","name":"HTML Map","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <meta charset=\"utf-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n    <title>My Site</title>\n    <link rel=\"shortcut icon\"type=\"image/x-icon\" href=\"docs/images/favicon.ico\"/>\n    <link rel=\"stylesheet\" href=\"https://unpkg.com/leaflet@1.7.1/dist/leaflet.css\"\n      integrity=\"sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==\"\n      crossorigin=\"\"\n    />\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    <link rel=\"stylesheet\" href=\"https://unpkg.com/leaflet@1.7.1/dist/leaflet.css\"\n   integrity=\"sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==\"\n   crossorigin=\"\"/>\n    <style>{{{payload.style}}}</style>\n     <script\n      src=\"https://unpkg.com/leaflet@1.7.1/dist/leaflet.js\"\n      integrity=\"sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==\"\n      crossorigin=\"\"\n    ></script>  \n    <script src=\"https://unpkg.com/axios/dist/axios.min.js\"></script>\n    \n  </head>\n  <body>\n    <div class=\"topnav\" id=\"myTopnav\">\n      <a href=\"{{urlHome}}\">Home</a>\n      <a href=\"/{{urlSearch}}\">Search</a>\n      <a href=\"#\" class=\"active\">Map</a>\n      <a href=\"javascript:void(0);\" class=\"icon\" onclick=\"myFunction()\">\n        <i class=\"fa fa-bars\"></i></a>\n</div>\n    <div\n      id=\"mapid\"\n      style=\"width: 100vw; height: 100vh; position: relative\"\n      class=\"\n        leaflet-container\n        leaflet-touch\n        leaflet-retina\n        leaflet-fade-anim\n        leaflet-grab\n        leaflet-touch-drag\n        leaflet-touch-zoom\n      \"\n      tabindex=\"0\"\n    >\n      <div\n        class=\"leaflet-pane leaflet-map-pane\"\n        style=\"transform: translate3d(0px, 0px, 0px)\"\n      >\n        <div class=\"leaflet-pane leaflet-tile-pane\">\n          <div class=\"leaflet-layer\" style=\"z-index: 1; opacity: 1\">\n            <div\n              class=\"leaflet-tile-container leaflet-zoom-animated\"\n              style=\"\n                z-index: 18;\n                transform: translate3d(0px, 0px, 0px) scale(1);\n              \"\n            >\n              <img\n                alt=\"\"\n                role=\"presentation\"\n                src=\"https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/12/2046/1361?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw\"\n                class=\"leaflet-tile leaflet-tile-loaded\"\n                style=\"\n                  width: 512px;\n                  height: 512px;\n                  transform: translate3d(-200px, -347px, 0px);\n                  opacity: 1;\n                \"\n              /><img\n                alt=\"\"\n                role=\"presentation\"\n                src=\"https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/12/2047/1361?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw\"\n                class=\"leaflet-tile leaflet-tile-loaded\"\n                style=\"\n                  width: 512px;\n                  height: 512px;\n                  transform: translate3d(312px, -347px, 0px);\n                  opacity: 1;\n                \"\n              /><img\n                alt=\"\"\n                role=\"presentation\"\n                src=\"https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/12/2046/1362?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw\"\n                class=\"leaflet-tile leaflet-tile-loaded\"\n                style=\"\n                  width: 512px;\n                  height: 512px;\n                  transform: translate3d(-200px, 165px, 0px);\n                  opacity: 1;\n                \"\n              /><img\n                alt=\"\"\n                role=\"presentation\"\n                src=\"https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/12/2047/1362?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw\"\n                class=\"leaflet-tile leaflet-tile-loaded\"\n                style=\"\n                  width: 512px;\n                  height: 512px;\n                  transform: translate3d(312px, 165px, 0px);\n                  opacity: 1;\n                \"\n              />\n            </div>\n          </div>\n        </div>\n        <div class=\"leaflet-pane leaflet-shadow-pane\">\n          <img\n            src=\"https://unpkg.com/leaflet@1.7.1/dist/images/marker-shadow.png\"\n            class=\"leaflet-marker-shadow leaflet-zoom-animated\"\n            alt=\"\"\n            style=\"\n              margin-left: -12px;\n              margin-top: -41px;\n              width: 41px;\n              height: 41px;\n              transform: translate3d(300px, 247px, 0px);\n            \"\n          />\n        </div>\n        <div class=\"leaflet-pane leaflet-overlay-pane\">\n          <svg\n            pointer-events=\"none\"\n            class=\"leaflet-zoom-animated\"\n            width=\"720\"\n            height=\"480\"\n            viewBox=\"-60 -40 720 480\"\n            style=\"transform: translate3d(-60px, -40px, 0px)\"\n          >\n          </svg>\n        </div>\n        <div class=\"leaflet-pane leaflet-marker-pane\">\n          <img\n            src=\"https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon-2x.png\"\n            class=\"\n              leaflet-marker-icon leaflet-zoom-animated leaflet-interactive\n            \"\n            alt=\"\"\n            tabindex=\"0\"\n            style=\"\n              margin-left: -12px;\n              margin-top: -41px;\n              width: 25px;\n              height: 41px;\n              transform: translate3d(300px, 247px, 0px);\n              z-index: 247;\n            \"\n          />\n        </div>\n        <div class=\"leaflet-pane leaflet-tooltip-pane\"></div>\n        <div class=\"leaflet-pane leaflet-popup-pane\">\n          <div\n            class=\"leaflet-popup leaflet-zoom-animated\"\n            style=\"\n              opacity: 1;\n              transform: translate3d(301px, 213px, 0px);\n              bottom: -7px;\n              left: -58px;\n            \"\n          >\n            <div class=\"leaflet-popup-tip-container\">\n              <div class=\"leaflet-popup-tip\"></div>\n            </div>\n            <a class=\"leaflet-popup-close-button\" href=\"#close\">×</a>\n          </div>\n        </div>\n        <div\n          class=\"leaflet-proxy leaflet-zoom-animated\"\n          style=\"transform: translate3d(1.04805e6px, 697379px, 0px) scale(4096)\"\n        ></div>\n      </div>\n      <div class=\"leaflet-control-container\">\n        <div class=\"leaflet-top leaflet-left\">\n          <div class=\"leaflet-control-zoom leaflet-bar leaflet-control\">\n            <a\n              class=\"leaflet-control-zoom-in\"\n              href=\"#\"\n              title=\"Zoom in\"\n              role=\"button\"\n              aria-label=\"Zoom in\"\n              >+</a\n            ><a\n              class=\"leaflet-control-zoom-out\"\n              href=\"#\"\n              title=\"Zoom out\"\n              role=\"button\"\n              aria-label=\"Zoom out\"\n              >−</a\n            >\n          </div>\n        </div>\n        <div class=\"leaflet-top leaflet-right\"></div>\n        <div class=\"leaflet-bottom leaflet-left\"></div>\n        <div class=\"leaflet-bottom leaflet-right\">\n          <div class=\"leaflet-control-attribution leaflet-control\">\n            <a\n              href=\"https://leafletjs.com\"\n              title=\"A JS library for interactive maps\"\n              >Leaflet</a\n            >\n            | Map data ©\n            <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a>\n            contributors, Imagery © <a href=\"https://www.mapbox.com/\">Mapbox</a>\n          </div>\n        </div>\n      </div>\n    </div>\n    <script>{{{payload.script}}}</script>\n    <script src=\"https://unpkg.com/leaflet@1.7.1/dist/leaflet.js\"\n       integrity=\"sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==\"\n   crossorigin=\"\"></script>\n </body>\n</html>\n","x":930,"y":660,"wires":[["2f45744a40bd7b7d"]]},{"id":"2f45744a40bd7b7d","type":"http response","z":"8f9bd20c59480f87","name":"","statusCode":"","headers":{},"x":1110,"y":660,"wires":[]},{"id":"e6ab4334cba331b5","type":"http in","z":"8f9bd20c59480f87","name":"","url":"/map","method":"get","upload":false,"swaggerDoc":"","x":180,"y":660,"wires":[["1b8b09d8b22adef5"]]},{"id":"1b8b09d8b22adef5","type":"function","z":"8f9bd20c59480f87","name":"msg.url ","func":"msg.urlHome = \"home\";\nmsg.urlSearch=\"search\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":660,"wires":[["86182af16152b66d"]]},{"id":"86182af16152b66d","type":"template","z":"8f9bd20c59480f87","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"function myFunction() {\n    var x = document.getElementById(\"myTopnav\");\n    if (x.className === \"topnav\") {\n      x.className += \" responsive\";\n    } else {\n      x.className = \"topnav\";\n    }\n  }\n\n  function myFunction() {\n    var x = document.getElementById(\"myTopnav\");\n    if (x.className === \"topnav\") {\n      x.className += \" responsive\";\n    } else {\n      x.className = \"topnav\";\n    }\n  }\n\n  var mymap = L.map(\"mapid\").setView([47.34332329546118,8.539792809169741], 13);\n\n  L.tileLayer(\n    \"https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw\",\n    {\n      maxZoom: 18,\n      attribution:\n        'Map data &copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors, ' +\n        'Imagery © <a href=\"https://www.mapbox.com/\">Mapbox</a>',\n      id: \"mapbox/streets-v11\",\n      tileSize: 512,\n      zoomOffset: -1,\n    }\n  ).addTo(mymap);\n\n  L.marker([ 47.34332329546118,8.539792809169741])\n    .addTo(mymap)\n    .openPopup();\n\n  var popup = L.popup();\n\n    \n   async function getForecast(pLat, pLng) {\n    const API_KEY = \"0d456f92a8fc4fb2856f92a8fcbfb203\";\n    const API_URL = `https://api.weather.com/v3/wx/observations/current?geocode=${pLat},${pLng}&format=json&units=e&language=en-US&apiKey=${API_KEY}`;\n    let response = await axios.get(API_URL)\n    return response.data\n  }\n  \n\n  async function onMapClick(e) {\n    popup\n      .setLatLng(e.latlng)\n      .setContent(\"temparature:\" + (await getForecast(e.latlng.lat, e.latlng.lng)).temperature \n      + \" Cloud Ceiling:\" +(await getForecast(e.latlng.lat, e.latlng.lng)).cloudCeiling \n      + \" Pressure Mean SeaLevel: \" +(await getForecast(e.latlng.lat, e.latlng.lng)).pressureMeanSeaLevel)\n      .openOn(mymap);\n      console.log((await getForecast(e.latlng.lat, e.latlng.lng)))\n      \n  }\n\n\n\n\n  mymap.on(\"click\", onMapClick);","x":570,"y":660,"wires":[["3dd4ac23c05e0fd2"]]},{"id":"3dd4ac23c05e0fd2","type":"template","z":"8f9bd20c59480f87","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"body {\n  margin: 0;\n  font-family: Arial, Helvetica, sans-serif;\n}\n\n#mapid { height: 300px; }\n\n.topnav {\n  overflow: hidden;\n  background-color: #333;\n}\n\n.topnav a {\n  float: left;\n  display: block;\n  color: #f2f2f2;\n  text-align: center;\n  padding: 14px 16px;\n  text-decoration: none;\n  font-size: 17px;\n}\n\n.topnav a:hover {\n  background-color: #ddd;\n  color: black;\n}\n\n.topnav a.active {\n  background-color: #0483aa;\n  color: white;\n}\n\n.topnav .icon {\n  display: none;\n}\n\n@media screen and (max-width: 600px) {\n  .topnav a:not(:first-child) {display: none;}\n  .topnav a.icon {\n    float: right;\n    display: block;\n  }\n}\n\n@media screen and (max-width: 600px) {\n  .topnav.responsive {position: relative;}\n  .topnav.responsive .icon {\n    position: absolute;\n    right: 0;\n    top: 0;\n  }\n  .topnav.responsive a {\n    float: none;\n    display: block;\n    text-align: left;\n  }\n}\n\n","x":750,"y":660,"wires":[["cd06b7aaa3adee45"]]},{"id":"c36b5ced2bc6bb72","type":"http in","z":"0c7da1a8927e4ecc","name":"http in","url":"/data","method":"post","upload":false,"swaggerDoc":"","x":200,"y":80,"wires":[["c357d237fff46d2f","930459189bd6dc73"]]},{"id":"c357d237fff46d2f","type":"function","z":"0c7da1a8927e4ecc","name":"","func":"// transform string value to a float. This means text to a number\nconst temp = parseFloat(msg.payload);\nmsg.payload = temp;\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":80,"wires":[["2e0adbcc33ad3b4b","22e9aaed889138f1"]]},{"id":"2e0adbcc33ad3b4b","type":"ui_chart","z":"0c7da1a8927e4ecc","name":"CPU Temp","group":"c0276740621bdda0","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":680,"y":80,"wires":[[]]},{"id":"930459189bd6dc73","type":"http response","z":"0c7da1a8927e4ecc","name":"","statusCode":"","headers":{},"x":420,"y":160,"wires":[]},{"id":"22e9aaed889138f1","type":"debug","z":"0c7da1a8927e4ecc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":160,"wires":[]},{"id":"67d609a4c5c391ea","type":"http in","z":"1231dbc1094dd99e","name":"","url":"/hw","method":"get","upload":false,"swaggerDoc":"","x":200,"y":100,"wires":[["158e9d421b6bbd02"]]},{"id":"d0430f2014ca38a4","type":"http response","z":"1231dbc1094dd99e","name":"","statusCode":"","headers":{},"x":630,"y":100,"wires":[]},{"id":"158e9d421b6bbd02","type":"template","z":"1231dbc1094dd99e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Hello World</title>\n    </head>\n    <body>\n        <div>Hello to Watson on Node-RED</div>\n        <div id=\"id_hello\"><span>I think you are typing text in:</span>\n        &nbsp;\n        <span id=\"id_textlang\"></span></div>\n        <form id=\"id_form\">\n            <div>\n                <span>\n                    Enter your text to be processed:  \n                </span>\n                <span>\n                    <input type=\"text\" name=\"name\" id=\"id_text\"/>\n                </span>\n            </div>\n            <div>\n                <input type=\"submit\" value=\"Enter\" id=\"id_enter\"/>\n            </div>\n        </form>        \n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\">\n        </script>\n        <script type=\"text/javascript\">\n            $(document).ready(function(){\n                setupPage();\n            });\n              var LANGUAGES = { 'ar' : 'Arabic',\n                    'en': 'English' ,\n                    'es': 'Spanish',\n                    'fr': 'French',\n                    'it': 'Italian',\n                    'de': 'German',\n                    'pt': 'Portuguese',\n                    'ko': 'Korean',\n                    'zh': 'Chinese'\n                  };\n            function setupPage(){\n                $('#id_hello').hide();\n                $('#id_form').submit(onSubmitClicked);\n                enterbutton();\n            }\n           \n            function langLookup(isocode) {\n                return (LANGUAGES[isocode] ? LANGUAGES[isocode] : isocode);\n            }\n         function processOK(response) {\n                console.log(response);\n                if (response.identifyresponse){\n                    $('#id_textlang').text(langLookup(response.identifyresponse));\n                } else {\n                    $('#id_textlang').text('No response received from service');\n                }\n            }\n            function processNotOK() {\n                console.log('Error Processing');\n                $('#id_textlang').text('Oops something went wrong');\n            }           \n            function invokeAjax(message) {\n                console.log('AJAX about to be invoked.');\n                console.log(message);\n                var ajaxData = {};\n                ajaxData.msgdata = message;\n                $.ajax({\n                    type: 'POST',\n                    url: 'langidentify',\n                    data: ajaxData,\n                    success: processOK,\n                    error: processNotOK\n                });\n            }\n \n            function onSubmitClicked(event){\n                $('#id_hello').show();\n                event.preventDefault();\n                var txt = $('#id_text').val();\n                invokeAjax(txt);\n            }\n            function enterbutton(){\n                $(function() {\n                    $(\"form input\").keypress(function (e) {\n                    if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {\n                        $('#id_enter').click();\n                        return false;\n                    } else {\n                        return true;\n                    }\n                });\n            });\n        }\n        </script>       \n    </body>\n</html>","output":"str","x":400,"y":100,"wires":[["d0430f2014ca38a4"]]},{"id":"ff1b4a7a6a43426d","type":"http in","z":"1231dbc1094dd99e","name":"","url":"/langidentify","method":"post","upload":false,"swaggerDoc":"","x":190,"y":240,"wires":[["6389ea37e4996f9c"]]},{"id":"838a1a7ba99631bf","type":"http response","z":"1231dbc1094dd99e","name":"","statusCode":"","headers":{},"x":930,"y":240,"wires":[]},{"id":"6389ea37e4996f9c","type":"function","z":"1231dbc1094dd99e","name":"Extract Input","func":"msg.payload = msg.req.body.msgdata;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":300,"wires":[["c1c53c1b6b12d4bc"]]},{"id":"c1c53c1b6b12d4bc","type":"watson-language-translator-identify","z":"1231dbc1094dd99e","name":"","service-endpoint":"","x":550,"y":240,"wires":[["fe2f360a0302baa4"]]},{"id":"fe2f360a0302baa4","type":"function","z":"1231dbc1094dd99e","name":"Process Output","func":"\nmsg.payload = {};\nmsg.payload.identifyresponse = \"I don’t know\";\nif (msg.lang && msg.lang.language){\n      msg.payload.identifyresponse = msg.lang.language;\n\t  }\n\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":300,"wires":[["838a1a7ba99631bf"]]},{"id":"c65d2055bcea3420","type":"ui_text","z":"8f9bd20c59480f87","group":"51666ed6820e62b4","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload.data[0].temp}}","layout":"row-spread","x":600,"y":440,"wires":[]}]