Weather_API.json
[{"id":"8f9bd20c59480f87","type":"tab","label":"Weather API","disabled":false,"info":""},{"id":"62e863d40a86a957","type":"http in","z":"8f9bd20c59480f87","name":"","url":"/home","method":"get","upload":false,"swaggerDoc":"","x":190,"y":540,"wires":[["286a0e79bea52ddd"]]},{"id":"286a0e79bea52ddd","type":"function","z":"8f9bd20c59480f87","name":"msg.url ","func":"msg.urlSearch = \"search\";\nmsg.urlMap=\"map\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":540,"wires":[["90ac71ef64fa3515"]]},{"id":"8a54a7e57812b5b9","type":"template","z":"8f9bd20c59480f87","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"body {\n  margin: 0;\n  font-family: Arial, Helvetica, sans-serif;\n}\n\n.topnav {\n  overflow: hidden;\n  background-color: #333;\n}\n\n.topnav a {\n  float: left;\n  display: block;\n  color: #f2f2f2;\n  text-align: center;\n  padding: 14px 16px;\n  text-decoration: none;\n  font-size: 17px;\n}\nh1{\nborder:1px solid white;\ntext-align:center;\npadding:2rem;\nmargin:3rem 5rem;\nbackground-color:white;\nz-index:0;\n}\n\n.topnav a:hover {\n  background-color: #ddd;\n  color: black;\n}\n\n.topnav a.active {\n  background-color: #0483aa;\n  color: white;\n}\n\n.topnav .icon {\n  display: none;\n}\n\n@media screen and (max-width: 600px) {\n  .topnav a:not(:first-child) {display: none;}\n  .topnav a.icon {\n    float: right;\n    display: block;\n  }\n}\n\n@media screen and (max-width: 600px) {\n  .topnav.responsive {position: relative;}\n  .topnav.responsive .icon {\n    position: absolute;\n    right: 0;\n    top: 0;\n  }\n  .topnav.responsive a {\n    float: none;\n    display: block;\n    text-align: left;\n  }\n}\nhtml,\nbody {\n  background: #1e5799;\n  /* Old browsers */\n  background: -moz-linear-gradient(top, #1e5799 0%, #7db9e8 100%);\n  /* FF3.6+ */\n  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(100%, #7db9e8));\n  /* Chrome,Safari4+ */\n  background: -webkit-linear-gradient(top, #1e5799 0%, #7db9e8 100%);\n  /* Chrome10+,Safari5.1+ */\n  background: -o-linear-gradient(top, #1e5799 0%, #7db9e8 100%);\n  /* Opera 11.10+ */\n  background: -ms-linear-gradient(top, #1e5799 0%, #7db9e8 100%);\n  /* IE10+ */\n  background: linear-gradient(to bottom, #1e5799 0%, #7db9e8 100%);\n  /* W3C */\n  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=0);\n  /* IE6-9 */\n  min-height: 100%;\n}\n.snowflakes {\n  width: 100%;\n  height: 1200px;\n  position: relative;\n  top: -100px;\n  left: 0;\n}\n\n.snowflakes i,\n.snowflakes i:after,\n.snowflakes i:before {\n  background: white;\n}\n.snowflakes i {\n  display: inline-block;\n  -webkit-animation: snowflakes 3s linear 2s 20;\n  -moz-animation: snowflakes 3s linear 2s 20;\n  position: relative;\n}\n.snowflakes i:after,\n.snowflakes i:before {\n  height: 100%;\n  width: 100%;\n  content: \".\";\n  position: absolute;\n  top: 0px;\n  left: 0px;\n  -webkit-transform: rotate(120deg);\n}\n.snowflakes i:before {\n  -webkit-transform: rotate(240deg);\n}\n@-webkit-keyframes snowflakes {\n  0% {\n    -webkit-transform: translate3d(0, 0, 0) rotate(0deg) scale(0.6);\n  }\n  100% {\n    -webkit-transform: translate3d(15px, 1200px, 0px) rotate(360deg) scale(0.6);\n  }\n}\n.snowflakes i:nth-child(3n) {\n  width: 16px;\n  height: 4px;\n  -webkit-animation-duration: 3s;\n  -webkit-animation-iteration-count: 30;\n  -webkit-transform-origin: right -45px;\n}\n.snowflakes i:nth-child(3n+1) {\n  width: 24px;\n  height: 6px;\n  -webkit-animation-duration: 4s;\n  -webkit-animation-iteration-count: 45;\n  -webkit-transform-origin: right -30px;\n}\n.snowflakes i:nth-child(3n+2) {\n  width: 32px;\n  height: 8px;\n  -webkit-animation-duration: 5s;\n  -webkit-animation-iteration-count: 60;\n  -webkit-transform-origin: right -15px;\n}\n/* different delays so they don't all start at the same time */\n.snowflakes i:nth-child(7n) {\n  opacity: 0.3;\n  -webkit-animation-delay: 0s;\n  -webkit-animation-timing-function: ease-in;\n}\n.snowflakes i:nth-child(7n+1) {\n  opacity: 0.4;\n  -webkit-animation-delay: 1s;\n  -webkit-animation-timing-function: ease-out;\n}\n.snowflakes i:nth-child(7n+2) {\n  opacity: 0.5;\n  -webkit-animation-delay: 1.3s;\n  -webkit-animation-timing-function: linear;\n}\n.snowflakes i:nth-child(7n+3) {\n  opacity: 0.6;\n  -webkit-animation-delay: 1.2s;\n  -webkit-animation-timing-function: ease-in;\n}\n.snowflakes i:nth-child(7n+4) {\n  opacity: 0.7;\n  -webkit-animation-delay: 1.5s;\n  -webkit-animation-timing-function: linear;\n}\n.snowflakes i:nth-child(7n+5) {\n  opacity: 0.8;\n  -webkit-animation-delay: 2s;\n  -webkit-animation-timing-function: ease-out;\n}\n.snowflakes i:nth-child(7n+6) {\n  opacity: 0.9;\n  -webkit-animation-delay: 2.5s;\n  -webkit-animation-timing-function: ease-in;\n}","x":750,"y":540,"wires":[["54ea59a7dd189a96"]]},{"id":"90ac71ef64fa3515","type":"template","z":"8f9bd20c59480f87","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"function myFunction() {\n  var x = document.getElementById(\"myTopnav\");\n  if (x.className === \"topnav\") {\n    x.className += \" responsive\";\n  } else {\n    x.className = \"topnav\";\n  }\n}","x":570,"y":540,"wires":[["8a54a7e57812b5b9"]]},{"id":"8131790111ec6a2e","type":"http response","z":"8f9bd20c59480f87","name":"","statusCode":"","headers":{},"x":1110,"y":540,"wires":[]},{"id":"54ea59a7dd189a96","type":"template","z":"8f9bd20c59480f87","name":"HTML Home","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>My Site</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    <style>{{{payload.style}}}</style>\n  </head>\n  <body>\n    <div class=\"topnav\" id=\"myTopnav\">\n      <a href=\"#\" class=\"active\">Home</a>\n      <a href=\"/{{urlSearch}}\">Search</a>\n      <a href=\"/{{urlMap}}\">Map</a>\n      <a href=\"javascript:void(0);\" class=\"icon\" onclick=\"myFunction()\">\n        <i class=\"fa fa-bars\"></i></a>\n    </div>\n    <header class=\"ScriptHeader\">\n    <div class=\"rt-container\">\n    \t<div class=\"col-rt-12\">\n        \t<div class=\"rt-heading\">\n        \t    <h1>Weather Forecast</h1>\n            </div>\n        </div>\n    </div>\n    </header>\n    <section>\n        <div class=\"rt-container\">\n            <div class=\"col-rt-12\">\n                <div class=\"Scriptcontent\">\n                    <div class=\"snowflakes\"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>\n                    </div>\n                </div>\n\t        </div>\n        </div>\n    </section>\n    <script>{{{payload.script}}}</script>\n  </body>\n\n</html>\n","x":930,"y":540,"wires":[["8131790111ec6a2e"]]},{"id":"67812876b4c04d6e","type":"template","z":"8f9bd20c59480f87","name":"HTML Search","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>My Site</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    <style>{{{payload.style}}}</style>\n  </head>\n  <body>\n    <div class=\"topnav\" id=\"myTopnav\">\n      <a href=\"{{urlHome}}\">Home</a>\n      <a href=\"#\" class=\"active\">Search</a>\n      <a href=\"/{{urlMap}}\">Map</a>\n      <a href=\"javascript:void(0);\" class=\"icon\" onclick=\"myFunction()\">\n        <i class=\"fa fa-bars\"></i></a>\n</div>\n<section class=\"main-section\">\n    <form class=\"form-container\"> \n    <label for=\"gsearch\">Search City:</label>\n    <input type=\"search\" id=\"gsearch\" name=\"gsearch\">\n    <input type=\"submit\">\n  </form>\n  <section id=\"forecast-section\"></section>\n</section>\n\n</html>\n<script>{{{payload.script}}}</script>","x":940,"y":600,"wires":[["04f3e3850a52bfc6"]]},{"id":"04f3e3850a52bfc6","type":"http response","z":"8f9bd20c59480f87","name":"","statusCode":"","headers":{},"x":1110,"y":600,"wires":[]},{"id":"17906d8bcd9974d6","type":"http in","z":"8f9bd20c59480f87","name":"","url":"/search","method":"get","upload":false,"swaggerDoc":"","x":190,"y":600,"wires":[["7242e866f55b92dc"]]},{"id":"7242e866f55b92dc","type":"function","z":"8f9bd20c59480f87","name":"msg.url ","func":"msg.urlHome = \"home\";\nmsg.urlMap=\"map\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":600,"wires":[["e10dca734f57dceb"]]},{"id":"e10dca734f57dceb","type":"template","z":"8f9bd20c59480f87","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"function myFunction() {\n  var x = document.getElementById(\"myTopnav\");\n  if (x.className === \"topnav\") {\n    x.className += \" responsive\";\n  } else {\n    x.className = \"topnav\";\n  }\n}\nconst TAG_FORM = document.querySelector('.form-container');\nconst CITY_INPUT = document.querySelector('#gsearch');\nconst FORECAST_CONTAINER=document.querySelector('#forecast-section')\nconst API_KEY = {Your_API_KEY};\nlet cityName;\nlet address;\n\nTAG_FORM.addEventListener(\"submit\", (event) => {\n  event.preventDefault();\n  cityName = CITY_INPUT.value;\n  convertNametoGeoCode(cityName);\n});\n\nconst convertNametoGeoCode = (pCityName) => {\n  const locType = 'city';\n  let url_head = 'https://api.weather.com/v3/location/search?query=';\n  let location = pCityName.replace(\" \", \"%20\");\n  let url_tail = `&locationType=${locType}&language=en-US&format=json&apiKey=${API_KEY}`;\n  let apiUrl = url_head + location + url_tail;\n  fetch(apiUrl)\n    .then((res) => res.json())\n    .then((data) => {\n      callForeacastApi(data.location);\n    });\n};\n\nconst callForeacastApi = (pData) => {\n  let pLat = pData.latitude[0];\n  let pLng = pData.longitude[0];\n  //address=pData.location.address[0]\n  const API_URL = `https://api.weather.com/v3/wx/observations/current?geocode=${pLat},${pLng}&format=json&units=e&language=en-US&apiKey=${API_KEY}`;\n  fetch(API_URL)\n    .then((res) => res.json())\n    .then((data) => {\n      displayForecast(data);\n    });\n};\n\nconst displayForecast = (pData) => { \n    let cityTemperature=pData.temperature;\n    let cloudCeiling=pData.cloudCeiling;\n    let pressureMeanSeaLevel=pData.pressureMeanSeaLevel;\n    FORECAST_CONTAINER.innerHTML=`<ul>\n    <li> City: ${cityName}</li>\n    <li> Temperature: ${cityTemperature} F</li>\n    <li> Cloud Ceiling: ${cloudCeiling}</li>\n    <li> Pressure Mean SeaLevel: ${pressureMeanSeaLevel}</li>\n    </ul>`\n    \n};\n\n","x":570,"y":600,"wires":[["149277af0f89540b"]]},{"id":"149277af0f89540b","type":"template","z":"8f9bd20c59480f87","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"body {\n  margin: 0;\n  font-family: Arial, Helvetica, sans-serif;\n}\n\n.topnav {\n  overflow: hidden;\n  background-color: #333;\n}\n\n.topnav a {\n  float: left;\n  display: block;\n  color: #f2f2f2;\n  text-align: center;\n  padding: 14px 16px;\n  text-decoration: none;\n  font-size: 17px;\n}\n\n.topnav a:hover {\n  background-color: #ddd;\n  color: black;\n}\n\n.topnav a.active {\n  background-color: #0483aa;\n  color: white;\n}\n\n.topnav .icon {\n  display: none;\n}\n\n@media screen and (max-width: 600px) {\n  .topnav a:not(:first-child) {display: none;}\n  .topnav a.icon {\n    float: right;\n    display: block;\n  }\n}\n\n@media screen and (max-width: 600px) {\n  .topnav.responsive {position: relative;}\n  .topnav.responsive .icon {\n    position: absolute;\n    right: 0;\n    top: 0;\n  }\n  .topnav.responsive a {\n    float: none;\n    display: block;\n    text-align: left;\n  }\n}\nhtml {\n  padding: 0;\n  margin: 0;\n  background-color: #436994;\n}\n.main-section {\n  padding: 0;\n  margin: 0;\n  height: 100vh;\n  display: flex;\n  flex-direction: column;\n  align-items: center;\n  justify-content: center;\n}\n\nform {\n  color: azure;\n  font-size: 1.5rem;\n}\n\ninput {\n  font-size: 1rem;\n  color: #436994;\n}\n\nul {\n  padding:0.8rem;\n  width: 24rem;\n  list-style: none;\n  color: azure;\n  font-size: 1.5rem;\n  border: 1px solid azure;\n  display: flex;\n  flex-direction: column;\n  justify-content: center;\n  align-items: center; \n}\n","x":750,"y":600,"wires":[["67812876b4c04d6e"]]},{"id":"cd06b7aaa3adee45","type":"template","z":"8f9bd20c59480f87","name":"HTML Map","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <meta charset=\"utf-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n    <title>My Site</title>\n    <link rel=\"shortcut icon\"type=\"image/x-icon\" href=\"docs/images/favicon.ico\"/>\n    <link rel=\"stylesheet\" href=\"https://unpkg.com/leaflet@1.7.1/dist/leaflet.css\"\n      integrity=\"sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==\"\n      crossorigin=\"\"\n    />\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    <link rel=\"stylesheet\" href=\"https://unpkg.com/leaflet@1.7.1/dist/leaflet.css\"\n   integrity=\"sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==\"\n   crossorigin=\"\"/>\n    <style>{{{payload.style}}}</style>\n     <script\n      src=\"https://unpkg.com/leaflet@1.7.1/dist/leaflet.js\"\n      integrity=\"sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==\"\n      crossorigin=\"\"\n    ></script>  \n    <script src=\"https://unpkg.com/axios/dist/axios.min.js\"></script>\n    \n  </head>\n  <body>\n    <div class=\"topnav\" id=\"myTopnav\">\n      <a href=\"{{urlHome}}\">Home</a>\n      <a href=\"/{{urlSearch}}\">Search</a>\n      <a href=\"#\" class=\"active\">Map</a>\n      <a href=\"javascript:void(0);\" class=\"icon\" onclick=\"myFunction()\">\n        <i class=\"fa fa-bars\"></i></a>\n</div>\n    <div\n      id=\"mapid\"\n      style=\"width: 100vw; height: 100vh; position: relative\"\n      class=\"\n        leaflet-container\n        leaflet-touch\n        leaflet-retina\n        leaflet-fade-anim\n        leaflet-grab\n        leaflet-touch-drag\n        leaflet-touch-zoom\n      \"\n      tabindex=\"0\"\n    >\n      <div\n        class=\"leaflet-pane leaflet-map-pane\"\n        style=\"transform: translate3d(0px, 0px, 0px)\"\n      >\n        <div class=\"leaflet-pane leaflet-tile-pane\">\n          <div class=\"leaflet-layer\" style=\"z-index: 1; opacity: 1\">\n            <div\n              class=\"leaflet-tile-container leaflet-zoom-animated\"\n              style=\"\n                z-index: 18;\n                transform: translate3d(0px, 0px, 0px) scale(1);\n              \"\n            >\n              <img\n                alt=\"\"\n                role=\"presentation\"\n                src=\"https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/12/2046/1361?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw\"\n                class=\"leaflet-tile leaflet-tile-loaded\"\n                style=\"\n                  width: 512px;\n                  height: 512px;\n                  transform: translate3d(-200px, -347px, 0px);\n                  opacity: 1;\n                \"\n              /><img\n                alt=\"\"\n                role=\"presentation\"\n                src=\"https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/12/2047/1361?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw\"\n                class=\"leaflet-tile leaflet-tile-loaded\"\n                style=\"\n                  width: 512px;\n                  height: 512px;\n                  transform: translate3d(312px, -347px, 0px);\n                  opacity: 1;\n                \"\n              /><img\n                alt=\"\"\n                role=\"presentation\"\n                src=\"https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/12/2046/1362?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw\"\n                class=\"leaflet-tile leaflet-tile-loaded\"\n                style=\"\n                  width: 512px;\n                  height: 512px;\n                  transform: translate3d(-200px, 165px, 0px);\n                  opacity: 1;\n                \"\n              /><img\n                alt=\"\"\n                role=\"presentation\"\n                src=\"https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/12/2047/1362?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw\"\n                class=\"leaflet-tile leaflet-tile-loaded\"\n                style=\"\n                  width: 512px;\n                  height: 512px;\n                  transform: translate3d(312px, 165px, 0px);\n                  opacity: 1;\n                \"\n              />\n            </div>\n          </div>\n        </div>\n        <div class=\"leaflet-pane leaflet-shadow-pane\">\n          <img\n            src=\"https://unpkg.com/leaflet@1.7.1/dist/images/marker-shadow.png\"\n            class=\"leaflet-marker-shadow leaflet-zoom-animated\"\n            alt=\"\"\n            style=\"\n              margin-left: -12px;\n              margin-top: -41px;\n              width: 41px;\n              height: 41px;\n              transform: translate3d(300px, 247px, 0px);\n            \"\n          />\n        </div>\n        <div class=\"leaflet-pane leaflet-overlay-pane\">\n          <svg\n            pointer-events=\"none\"\n            class=\"leaflet-zoom-animated\"\n            width=\"720\"\n            height=\"480\"\n            viewBox=\"-60 -40 720 480\"\n            style=\"transform: translate3d(-60px, -40px, 0px)\"\n          >\n          </svg>\n        </div>\n        <div class=\"leaflet-pane leaflet-marker-pane\">\n          <img\n            src=\"https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon-2x.png\"\n            class=\"\n              leaflet-marker-icon leaflet-zoom-animated leaflet-interactive\n            \"\n            alt=\"\"\n            tabindex=\"0\"\n            style=\"\n              margin-left: -12px;\n              margin-top: -41px;\n              width: 25px;\n              height: 41px;\n              transform: translate3d(300px, 247px, 0px);\n              z-index: 247;\n            \"\n          />\n        </div>\n        <div class=\"leaflet-pane leaflet-tooltip-pane\"></div>\n        <div class=\"leaflet-pane leaflet-popup-pane\">\n          <div\n            class=\"leaflet-popup leaflet-zoom-animated\"\n            style=\"\n              opacity: 1;\n              transform: translate3d(301px, 213px, 0px);\n              bottom: -7px;\n              left: -58px;\n            \"\n          >\n            <div class=\"leaflet-popup-tip-container\">\n              <div class=\"leaflet-popup-tip\"></div>\n            </div>\n            <a class=\"leaflet-popup-close-button\" href=\"#close\">×</a>\n          </div>\n        </div>\n        <div\n          class=\"leaflet-proxy leaflet-zoom-animated\"\n          style=\"transform: translate3d(1.04805e6px, 697379px, 0px) scale(4096)\"\n        ></div>\n      </div>\n      <div class=\"leaflet-control-container\">\n        <div class=\"leaflet-top leaflet-left\">\n          <div class=\"leaflet-control-zoom leaflet-bar leaflet-control\">\n            <a\n              class=\"leaflet-control-zoom-in\"\n              href=\"#\"\n              title=\"Zoom in\"\n              role=\"button\"\n              aria-label=\"Zoom in\"\n              >+</a\n            ><a\n              class=\"leaflet-control-zoom-out\"\n              href=\"#\"\n              title=\"Zoom out\"\n              role=\"button\"\n              aria-label=\"Zoom out\"\n              >−</a\n            >\n          </div>\n        </div>\n        <div class=\"leaflet-top leaflet-right\"></div>\n        <div class=\"leaflet-bottom leaflet-left\"></div>\n        <div class=\"leaflet-bottom leaflet-right\">\n          <div class=\"leaflet-control-attribution leaflet-control\">\n            <a\n              href=\"https://leafletjs.com\"\n              title=\"A JS library for interactive maps\"\n              >Leaflet</a\n            >\n            | Map data ©\n            <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a>\n            contributors, Imagery © <a href=\"https://www.mapbox.com/\">Mapbox</a>\n          </div>\n        </div>\n      </div>\n    </div>\n    <script>{{{payload.script}}}</script>\n    <script src=\"https://unpkg.com/leaflet@1.7.1/dist/leaflet.js\"\n       integrity=\"sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==\"\n   crossorigin=\"\"></script>\n </body>\n</html>\n","x":930,"y":660,"wires":[["2f45744a40bd7b7d"]]},{"id":"2f45744a40bd7b7d","type":"http response","z":"8f9bd20c59480f87","name":"","statusCode":"","headers":{},"x":1110,"y":660,"wires":[]},{"id":"e6ab4334cba331b5","type":"http in","z":"8f9bd20c59480f87","name":"","url":"/map","method":"get","upload":false,"swaggerDoc":"","x":180,"y":660,"wires":[["1b8b09d8b22adef5"]]},{"id":"1b8b09d8b22adef5","type":"function","z":"8f9bd20c59480f87","name":"msg.url ","func":"msg.urlHome = \"home\";\nmsg.urlSearch=\"search\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":660,"wires":[["86182af16152b66d"]]},{"id":"86182af16152b66d","type":"template","z":"8f9bd20c59480f87","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"function myFunction() {\n    var x = document.getElementById(\"myTopnav\");\n    if (x.className === \"topnav\") {\n      x.className += \" responsive\";\n    } else {\n      x.className = \"topnav\";\n    }\n  }\n\n  function myFunction() {\n    var x = document.getElementById(\"myTopnav\");\n    if (x.className === \"topnav\") {\n      x.className += \" responsive\";\n    } else {\n      x.className = \"topnav\";\n    }\n  }\n\n  var mymap = L.map(\"mapid\").setView([47.34332329546118,8.539792809169741], 13);\n\n  L.tileLayer(\n    \"https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw\",\n    {\n      maxZoom: 18,\n      attribution:\n        'Map data &copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors, ' +\n        'Imagery © <a href=\"https://www.mapbox.com/\">Mapbox</a>',\n      id: \"mapbox/streets-v11\",\n      tileSize: 512,\n      zoomOffset: -1,\n    }\n  ).addTo(mymap);\n\n  L.marker([ 47.34332329546118,8.539792809169741])\n    .addTo(mymap)\n    .openPopup();\n\n  var popup = L.popup();\n\n    \n   async function getForecast(pLat, pLng) {\n    const API_KEY = {YOUR_API_KEY};\n    const API_URL = `https://api.weather.com/v3/wx/observations/current?geocode=${pLat},${pLng}&format=json&units=e&language=en-US&apiKey=${API_KEY}`;\n    let response = await axios.get(API_URL)\n    return response.data\n  }\n  \n\n  async function onMapClick(e) {\n    popup\n      .setLatLng(e.latlng)\n      .setContent(\"temparature:\" + (await getForecast(e.latlng.lat, e.latlng.lng)).temperature \n      + \" Cloud Ceiling:\" +(await getForecast(e.latlng.lat, e.latlng.lng)).cloudCeiling \n      + \" Pressure Mean SeaLevel: \" +(await getForecast(e.latlng.lat, e.latlng.lng)).pressureMeanSeaLevel)\n      .openOn(mymap);\n      console.log((await getForecast(e.latlng.lat, e.latlng.lng)))\n      \n  }\n\n\n\n\n  mymap.on(\"click\", onMapClick);","x":570,"y":660,"wires":[["3dd4ac23c05e0fd2"]]},{"id":"3dd4ac23c05e0fd2","type":"template","z":"8f9bd20c59480f87","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"body {\n  margin: 0;\n  font-family: Arial, Helvetica, sans-serif;\n}\n\n#mapid { height: 300px; }\n\n.topnav {\n  overflow: hidden;\n  background-color: #333;\n}\n\n.topnav a {\n  float: left;\n  display: block;\n  color: #f2f2f2;\n  text-align: center;\n  padding: 14px 16px;\n  text-decoration: none;\n  font-size: 17px;\n}\n\n.topnav a:hover {\n  background-color: #ddd;\n  color: black;\n}\n\n.topnav a.active {\n  background-color: #0483aa;\n  color: white;\n}\n\n.topnav .icon {\n  display: none;\n}\n\n@media screen and (max-width: 600px) {\n  .topnav a:not(:first-child) {display: none;}\n  .topnav a.icon {\n    float: right;\n    display: block;\n  }\n}\n\n@media screen and (max-width: 600px) {\n  .topnav.responsive {position: relative;}\n  .topnav.responsive .icon {\n    position: absolute;\n    right: 0;\n    top: 0;\n  }\n  .topnav.responsive a {\n    float: none;\n    display: block;\n    text-align: left;\n  }\n}\n\n","x":750,"y":660,"wires":[["cd06b7aaa3adee45"]]}]