Node-RED with IBM Watson AI Services/IBM_Watson_AI _Services.json
[{"id":"f0c55fd7513e2f0f","type":"tab","label":"Node-RED with IBM Watson AI Services","disabled":false,"info":""},{"id":"7e5ecba4496ebedd","type":"microphone","z":"f0c55fd7513e2f0f","name":"","x":180,"y":100,"wires":[["35e0a6046224f8df"]]},{"id":"35e0a6046224f8df","type":"watson-speech-to-text","z":"f0c55fd7513e2f0f","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"Sakmak4326","apikey":"HY6RjPRiaNpbGXHVvsMnGlolTMi-z67t5B4t-ujLi70S","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.eu-de.speech-to-text.watson.cloud.ibm.com/instances/cb212251-b0b6-48c9-a0d6-4071a50c1576","x":430,"y":100,"wires":[["d9c045c0ca8e923c"]]},{"id":"425f7bf1ca510ddd","type":"watson-text-to-speech","z":"f0c55fd7513e2f0f","name":"","lang":"de-DE","langhidden":"de-DE","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"de-DE_DieterV2Voice","voicehidden":"","format":"audio/wav","password":"Sakmak4326","apikey":"qYJfFJuM48L7IO1C9n_yTb2zg_wRDyAtmfFrSSNeYst6","payload-response":false,"service-endpoint":"https://api.eu-de.text-to-speech.watson.cloud.ibm.com/instances/1a128329-f65e-4aa6-b93f-f8304235572c","x":380,"y":200,"wires":[["cb3d08002f456e1d"]]},{"id":"d9c045c0ca8e923c","type":"change","z":"f0c55fd7513e2f0f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":100,"wires":[["7344b34cf1654242"]]},{"id":"cb3d08002f456e1d","type":"change","z":"f0c55fd7513e2f0f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"speech","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":200,"wires":[["78203194a3f00490"]]},{"id":"7344b34cf1654242","type":"watson-translator","z":"f0c55fd7513e2f0f","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"de","password":"Sakmak4326","apikey":"32ukJeMXQxjvwxv5HeQ-WUVzWI1YqCQaFGfqx6VnE6yl","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"de","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-de.language-translator.watson.cloud.ibm.com/instances/e9d76f67-13c1-48ca-9016-47daa40644df","x":880,"y":100,"wires":[["425f7bf1ca510ddd"]]},{"id":"78203194a3f00490","type":"play audio","z":"f0c55fd7513e2f0f","name":"","voice":"0","x":860,"y":200,"wires":[]}]