ChukNorris_API/ChuckNorris.json
[{"id":"d8492a5681891bd7","type":"tab","label":"Chuck Norris","disabled":false,"info":""},{"id":"bd507ef68d32b2cc","type":"http request","z":"d8492a5681891bd7","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.chucknorris.io/jokes/random","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":260,"wires":[["8099761edaf24635"]]},{"id":"1c9e3d842570df7f","type":"http request","z":"d8492a5681891bd7","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.chucknorris.io/jokes/random","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":180,"wires":[["d6cd68dffc1df140"]]},{"id":"717ff005dd8eb5d6","type":"inject","z":"d8492a5681891bd7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":280,"y":180,"wires":[["1c9e3d842570df7f"]]},{"id":"d6cd68dffc1df140","type":"debug","z":"d8492a5681891bd7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.value","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":180,"wires":[]},{"id":"862df1580b136ef3","type":"comment","z":"d8492a5681891bd7","name":"API","info":"","x":250,"y":120,"wires":[]},{"id":"0a14411fa81114c0","type":"ui_button","z":"d8492a5681891bd7","name":"","group":"1d5ee08d6a2c1554","order":1,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"hello","payloadType":"str","topic":"topic","topicType":"msg","x":250,"y":260,"wires":[["bd507ef68d32b2cc"]]},{"id":"8099761edaf24635","type":"ui_text","z":"d8492a5681891bd7","group":"1d5ee08d6a2c1554","order":2,"width":"6","height":"4","name":"","label":"","format":"{{msg.payload.value}}","layout":"row-center","x":710,"y":260,"wires":[]},{"id":"6ffeb08cd2c6fca2","type":"ui_text","z":"d8492a5681891bd7","group":"3077c7fd0263f589","order":3,"width":0,"height":0,"name":"Language","label":"","format":"{{msg.translation[0].translation}}","layout":"row-spread","x":680,"y":920,"wires":[]},{"id":"1d5ee08d6a2c1554","type":"ui_group","name":"Chuck Norris","tab":"362c91eaa436a196","order":1,"disp":true,"width":"6","collapse":false},{"id":"3077c7fd0263f589","type":"ui_group","name":"Language ","tab":"362c91eaa436a196","order":2,"disp":true,"width":"6","collapse":false},{"id":"362c91eaa436a196","type":"ui_tab","name":"NODE-RED","icon":"dashboard","disabled":false,"hidden":false}]